global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: nestjs
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:3000

  - job_name: springboot
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - host.docker.internal:8080

  - job_name: postgres
    metrics_path: /metrics
    static_configs:
      - targets:
          - postgres-exporter:9187
